th {
    font-family: 'Dealers Solid';
    -webkit-text-stroke-width: 0.05vw;
    -webkit-text-stroke-color: black;
}

td {
    font-family:'Dancing Script';
}

table {
    width: 100%;
    border-collapse: collapse;
    color: white;
    text-align: center;
}

td{
    font-size:1.1vw;
}

th{
    font-size:2vw;
}