th {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 40px ;
}

td {
    font-size: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    color: white;
    text-align: center;
}

td{
    font-size:1vw;
}

th{
    font-size:2vw;
}

