/*-------------------------- MENIU-INTERACTIV ---------------------- */

body {
    background-image: url("images/background.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
    margin: 0;
    padding: 0;
}

.container {
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

li {
    display: inline-block;
}

li a {
    text-decoration: none;
    display: inline-block;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 28px;
    padding: 0 20px;
}

.nice::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background:  white;
    transition: width .3s;
}

.nice:hover::after {
    width: 100%;
    transition: width.3s;
}

/*-------------------------- MENIU-INTERACTIV ---------------------- */
/*----------------------------- PANA AICI ---------------------------*/

.title {
    text-align: center;
    font-family: 'DealersShaded';
    font-size: 72px;
    color: white;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: black;
}

.subtitle {
    text-align: center;
    font-family:'Dancing Script';
    font-size: 40px;
    color: white;
}

/*RESPONSIVE TELEFON-TABLETA*/

@media (max-width: 990px) {
    .menu {
        width: 100%;
    }
    .page-grid {
        display: block;
    }
    .footer {
        border-radius: 0;
    }
}

@media (max-width: 768px) {
    body {
        background: #000000;
    }
    .header {
        display: none;
    }
    .footer {
        margin-top: 3px;
    }
    .nice {
        margin: 0;
    }
}

/*RESPONSIVE TELEFON-TABLETA*/

footer {
    position: absolute;
    bottom: 0;
    width: 50%;
    margin-left: 25%;

}

.iconita1 {
    width: 70px;
    height: 70px;
}

.continut-footer {
    padding: 0;
}

.linkuri {
    display: flex;
    justify-content: center;
    padding: 10px;
}

.linkuri ul {
    display: flex;
}

.chestie {
    list-style: none;
}

.sfarsit-footer {
    text-align: center;
    padding: 0;
    color: white;
    background-color: #000000;
    opacity: 70%;
    font-size: 20px;
}