body {
    background-image: url("images/background.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
    margin: 0;
    padding: 0;
}

.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

li {
    display: inline-block;
}

li a {
    text-decoration: none;
    display: inline-block;
    color: #fff;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 28px;
    padding: 0 20px;
}

.nice::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: #fff;
    transition: width .3s;
}

.nice:hover::after {
    width: 100%;
    transition: width.3s;
}

.title {
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 70px;
}

.subtitle {
    text-align: center;
    font-family:'Dancing Script';
    font-size: 40px;
}

@media (max-width: 990px) {
    .menu {
        width: 100%;
    }
    .page-grid {
        display: block;
    }
    .footer {
        border-radius: 0;
    }
}

@media (max-width: 768px) {
    body {
        background: black;
    }
    .header {
        display: none;
    }
    .footer {
        margin-top: 3px;
    }
    .nice {
        margin: 0;
    }


}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: red;
    padding: 0.25% 2.5% 0.25% 2.5%;
    border-radius: 50px;
    color: white;
    text-align: center;
}

.resize {
    width: 5%;
    height: auto;

}