#Text {
    color:white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#Rezervari, #Text2 {
    font-size: 2rem;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#help {
    font-size: 3rem;
    font-family: 'Dealers Solid';
    -webkit-text-stroke-width: 0.05vw;
    -webkit-text-stroke-color: black;
    color: red;
}

#center {
    text-align: center;
}